/* src/App.css or a separate global.css file */
body, html, #root {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('/assets/teej-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }
  